.container {
    background-color: var(--bg);
    padding: 25px;
    border-radius: 50px;
    width: 300px;
}

.imageWrapper {
    display: block;
    text-align: center;
}

.image {
    border-radius: 25px;
}

.title {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.description {
    margin-top: 10px;
    margin-bottom: 40px;
}